* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}

:root {
  --PrimaryColor: #075e89;
  --LightColor: #fff;
  --DarkColor: #585858;
  --SecondaryColor: #f99a00;
}

.primary-color {
  background-color: var(--PrimaryColor);
}

@media (max-width: 577px) {
  .header-social-icon {
    display: none;
  }
}

/******** Navbar ********/
nav {
  background: var(--LightColor) !important;
  box-shadow: 1px 1px 2px #4444;
}

nav .navbar-brand {
  color: var(--bs-orange);
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav .navbar-brand span {
  color: var(--DarkColor);
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .nav-link {
  font-size: 18px;
}
.navbar-toggler {
  outline: none !important;
  padding: none !important;
}

/********* Carousel ********/
.carousel-inner .slider {
  width: 100%;
  height: 100vh;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-inner .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-inner .carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 37%;
  left: 0;
  right: 0;
}

.carousel-inner .carousel-caption h2 {
  color: var(--LightColor);
  margin-bottom: 7px;
  font-size: 42px;
  font-weight: 600;
  width: 80%;
  margin: 0 auto 5px auto;
}

.carousel-inner .carousel-caption span {
  color: var(--bs-orange);
}

.carousel-inner .carousel-caption p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto 20px auto;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-caption h2 {
    font-size: 30px;
  }
  .carousel-inner .carousel-caption p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .carousel-inner .carousel-caption h2 {
    font-size: 25px;
  }
  .carousel-inner .carousel-caption p {
    font-size: 13px;
  }
}
/***** about *****/
#mission {
  text-align: justify;
}

.section-heading {
  color: var(--bs-orange);
}

/**** courses *****/
.courses .box {
  padding: 10px 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.card {
  height: fit-content;
}
.courses .box img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: 5px;
  padding: 10px 10px;
}
/**** review *****/

/** contact us**/
@media (max-width: 577px) {
  iframe {
    width: 400px;
    height: 300px;
  }
}
