*{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

:root{
    --PrimaryColor:#075e89;
    --LightColor: #fff;
    --DarkColor: #585858;
    --SecondaryColor: #f99a00;

}

.primary-color{
    background-color: var(--PrimaryColor);
    
}